/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { margin: auto; }

a:hover, a:visited { text-decoration: none; }

.container {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 90%;
}

nav {
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 60px;
  display: inline-block;
}

nav a { color: #FFF; }

nav h1, nav h2, nav h3{
  float: left;
  padding: 0 20px;
}

nav .account{
  float: right;
  margin: 0 25px;
}

.login{
  min-width: 20%;
  max-width: 50%;
  margin: 0 auto;
  background-color: #F9F9F9;
  padding: 20px;
}

h1.brand{
  float: left;
  text-transform: uppercase;
  padding: 0 20px;
}

#lists{
  min-width: 20%;
  max-width: 70%;
  margin: 0 auto;
  display: inline-block;
}

div.list{
  float: left;
  margin: 5px 5px;
  border: 2px solid #FFFAC6;
}

div.list a {
  text-decoration: none;
  color: #000;
}

.list .title{
  line-height: 10px;
  background-color: #FFFAC6;
  padding: 5px;
}

.task {
  background-color: #FFFCDF;
  border-bottom: 1px solid #DADADA;
}

.right { text-align: right; }

form {
  margin : 0 auto;
  min-width: 50%;
  max-width: 90%;
  margin: 0 auto;
  background-color: #FFFCDF;
  padding: 20px;
}

label, input, button { padding: 4px; }


input[type=text] {
  border: 1px solid #999;
  border-radius: 4px;
  -webkit-appearance: none;
}
