<nav>
  <h1 class="brand">ACME TASKLIST</h1>
  <h2><%= link_to '+ List', new_list_path, remote: true if user_signed_in? %></h2>
  <div class="account">
    <% if user_signed_in? %>
      <h3><%= greeting %></h3>
      <h3><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></h3>
    <% else %>
      <h3><%= link_to 'Login', new_user_session_path %></h3>
    <% end %>
  </div>
</nav>
