<nav>
  <div class="brand">
    <h1>Star Tasks</h1>
  </div>
  <% if user_signed_in?  %>
    <div class="navbar">
      <%= link_to 'New List', new_list_path   %>
    </div>
    <div class="account">
      <p><%= current_user.name || current_user.login || current_user.email  %></p>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete   %>
    </div>
  <% end %>
</nav>
